html {
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 300px;
    overflow: hidden;
    background-size: 100% auto;
    font-family:Arial,sans-serif;
    background-repeat: repeat;
    background-image: url(../img/bg2.png);
}

h1 {
    text-align: center;
    font-size: 100%;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container img {
    width: 100%;
}

/* Lupe */

#magnifier {
    position: relative;
    top: 10%;
    left: 10%;
    width: 30%;
}

#magnifier img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#glass {
    background: url('../img/bg-button-p.gif');
    background-attachment: fixed;
    width: 92px;
    height: 92px;
    border-radius: 47px;
    background-size: 100%;
}

#last-scene, #gluckwunsch{
    display: none;
}

/* Colliding Element */

#colliding { 
    width: 15%; 
    height: 15%; 
    top: 200px;
    left: 100px;
    background-color: transparent;
    position: absolute;
}

/* Gluckwunsch Scene */

#gluckwunsch{
    position: absolute;
    top: 0;
}

/* Last Scene */

#text-after{
    width: 90%;
    position: absolute;
    margin: 5%;
    top: 40%
}

#btn-buchen {
    top: 70%;
    text-align: center;
    position: absolute;
    width: 50%;
    margin: 5% 25% ;
}

#first-scene {
    width: 100%;
    position: absolute;
}

#train img{
    position: absolute;
    top: 0;
}

#logo-db {
    width: 100%;
    text-align: center;
    bottom: 2px;
    position: absolute;
}

#logo-db img {
    width: 20%;
}

/* DB style "Sparpreis-Finder" */

.button {
    background:url(../img/button_left.png) no-repeat 0 0;
    display:inline-block;
    height:27px;
    padding:0;
    padding-left:31px;
    border:0;
}

.button span {
    background:url(../img/button_right.png) no-repeat right 0;
    display:block;
    height:27px;
}

.button span span {
    background:url(../img/button_center.png) repeat-x 0 0;
    display:block;
    height:24px;
    margin-right:9px;
    padding-top:3px;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    text-shadow:0 1px 4px #333;
    line-height:18px;
}

.button.hover,.button.hover span span{
    background-position:0 -27px
}

.button.hover span {
    background-position:right -27px
}
