html {
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 504px;
    overflow: hidden;
    background-size: 100% auto;
    font-family: Arial,sans-serif;
    background-image: url(../img/bg2.png);
    background-repeat: repeat;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*.transparent{
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}*/

.main-container  > * {
    z-index: 10;
}

.transparent img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
p {
    padding: 0;
    margin: 0

}

.btn {
    position: absolute;
    /*-webkit-transition: all 0.1s linear 0.5s;*/
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.text {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 38%;
}
.text-try{
    width: 100%;
    position: absolute;
    top: 38%;
    display: none;
}

.text-after{
    width: 80%;
    position: absolute;
    margin: 12%;
    display: none;
    top: 35%
}

.text-after a{
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.logo-db {
    width: 100%;
    text-align: center;
    bottom: 2px;
    position: absolute;
}

.logo-db img {
    width: 30%;
}

#magnifier {
    top: 45%;
    left: 40%;
    width: 150px;
    position: absolute;
}

#magnifier img {
    z-index: 1000 !important;
}

#btn1 {
    top: -5%;
    left: -3%;
    width: 30%;
    z-index: 2;
}

#btn1-p {
/*    top: 2%;
    left: 10%;
    display: none;
    z-index: 100;
    width: 55%;
    font-size: 100%;
    color: #fff;
    position:absolute;*/
    top: -5%;
    left: -3%;
    display: none;
    z-index: 100;
    width: 35%;
}

#btn2 {
    top: -10%;
    left: 20%;
    width: 48%;
    z-index: 0;
}

#btn2-p {
    top: -10%;
    left: 20%;
    width: 48%;
    display: none;
    z-index: 70;
}

#btn3 {
    top: -3%;
    left: 58%;
    width: 25%;
    z-index: 120
}

#btn4 {
    top: -5%;
    left: 65%;
    width: 40%;
}

#btn4-p {
    top: -5%;
    left: 65%;
    width: 40%;
    display: none;
}

#btn3f {
    top: 1%;
    left: 40%;
    display: none;
}

#btn4f {
    top: -5%;
    left: 67%;
    width: 36%;
}

#btn5 {
    top: 10%;
    left: -3%;
    width: 25%;
    z-index: 100;
}

#btn5-p {
    top: 10%;
    left: -3%;
    width: 25%;
    z-index: 100;
    display: none;
}

#btn6 {
    top: 12%;
    left: 5%;
    width: 23%;
    z-index: 8;
}

#btn7 {
    top: 15%;
    left: 23%;
    width: 22%;
    z-index: 80;
}

#btn8 {
    top: 13%;
    left: 42%;
    width: 23%;
    z-index: 90;
}

#btn9 {
    top: 15%;
    left: 53%;
    width: 30%;
    z-index: 80;
}

#btn9-p {
    top: 15%;
    left: 53%;
    width: 30%;
    z-index: 80;
    display: none;
}

#btn10 {
    top: 15%;
    left: 72%;
    width: 24%;
    z-index: 80;
}

#btn11 {
    top: 35%;
    left: 6%;
    width: 10%;
}

#btn12 {
    top: 26%;
    left: 15%;
    width: 15%;
    z-index: 80;
}
#btn13 {
    top: 35%;
    left: 30%;
    width: 5%;
    z-index: 80;
}

#btn14 {
    top: 25%;
    left: 42%;
    width: 15%;
    z-index: 80;
}

#btn15 {
    top: 48%;
    left: 62%;
    width: 13%;
}

#btn16 {
    top: 30%;
    left: 78%;
    width: 26%;
    z-index: 80;
}

#btn17 {
    top: 45%;
    left: 73%;
    width: 18%;
    z-index: 80;
}

#btn18 {
    top: 47%;
    left: 20%;
    width: 20%;
    z-index: 80;
}

#btn18-p {
    top: 47%;
    left: 20%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn19 {
    top: 67%;
    left:32%;
    width: 10%;
    z-index: 80;
}

#btn20 {
    top: 63%;
    left: 58%;
    width: 10%;
    z-index: 80;
}

#btn21 {
    top: 58%;
    left: 70%;
    width: 8%;
    z-index: 10;
}

#btn22 {
    top: 50%;
    left: 55%;
    width:7%;
    z-index: 5;

}

#btn23 {
    top: 65%;
    left: 340%;
    width: 9%;
    z-index: 10;
}

#btn24 {
    top: 60%;
    left: 40%;
    width: 7%;
    z-index: 10;
}

#btn24-p {
    top: 60%;
    left: 40%;
    width: 7%;
    z-index: 10;
    display: none;
}

#btn25 {
    top: 58%;
    left: 50%;
    width: 12%;
    z-index: 10;
}
#btn25-p {
    top: 58%;
    left: 50%;
    width: 12%;
    z-index: 10;
    display: none;
}

#btn26 {
    top: 70%;
    left: 50%;
    width: 11%;
}

#btn27 {
    top: 73%;
    left: 40%;
    width: 10%;
}

#btn28 {
    top: 78%;
    left: 50%;
    width: 5%;
}

#btn29 {
    top: 85%;
    left: 47%;
    width: 3%;
}
#btn29-p {
    top: 8%;
    left: 33%;
    width: 40%;
    display: none;
    position: absolute;
}

#btn30{
    top:10%;
    left: 30%;
    display: none;
    width: 40%;
    position: absolute;
}
#glass {
    background: url('../img/kitty.png') repeat;
    background-attachment: fixed;
    width: 50px;
    position: absolute;
    width: 94px;
    height: 94px;
    position: absolute;
    top: 0;
    border-radius: 47px;
    z-index: 5 !important;
}

