html {
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 304px;
    overflow: hidden;
    background-size: 100% auto;
    font-family: Arial,sans-serif;
    background-image: url(../img/bg2.png);
    background-repeat: repeat;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.transparent img {
    width: 100%;
}

h1, a {
    text-align: center;
    font-size: 100%;
    font-family: Arial
}

.btn {
    position: absolute;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/* Shaking */

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes spaceboots-2 {
    0% { -webkit-transform: translate(4px, 1px) rotate(2deg); }
    10% { -webkit-transform: translate(-0px, -2px) rotate(0deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(2deg); }
    30% { -webkit-transform: translate(0px, 5px) rotate(1deg); }
    40% { -webkit-transform: translate(0px, -1px) rotate(0deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(1deg); }
    60% { -webkit-transform: translate(-5px, 1px) rotate(1deg); }
    70% { -webkit-transform: translate(2px, 2px) rotate(-2deg); }
    80% { -webkit-transform: translate(0px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 3px) rotate(0deg); }
    100% { -webkit-transform: translate(0px, -2px) rotate(-1deg); }
}

@-webkit-keyframes spaceboots-3 {
    0% { -webkit-transform: translate(3px, 2px) rotate(3deg); }
    10% { -webkit-transform: translate(4px, 1px) rotate(2deg); }
    20% { -webkit-transform: translate(-2px, 0px) rotate(-2deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(2deg); }
    40% { -webkit-transform: translate(0px, -1px) rotate(0deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(1deg); }
    60% { -webkit-transform: translate(-2px, 1px) rotate(1deg); }
    80% { -webkit-transform: translate(0px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 3px) rotate(0deg); }
    100% { -webkit-transform: translate(0px, -2px) rotate(-1deg); }
}

@-webkit-keyframes spaceboots-4 {
    50% { -webkit-transform: translate(-1px, 2px) rotate(2deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(3deg); }
    70% { -webkit-transform: translate(2px, -2px) rotate(-1deg); }
    80% { -webkit-transform: translate(0px, -2px) rotate(1deg); }
    90% { -webkit-transform: translate(3px, 1px) rotate(0deg); }
    100% { -webkit-transform: translate(0px, 3px) rotate(2deg); }
}

@-webkit-keyframes spaceboots-5 {
    40% { -webkit-transform: translate(3px, -1px) rotate(2deg); }
    50% { -webkit-transform: translate(-2px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 7px) rotate(5deg); }
    70% { -webkit-transform: translate(6px, 2px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(4px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

/* DB original "Jetzt Buchen" */

.button {
    background:url(../img/button_left.png) no-repeat 0 0;
    display:inline-block;
    height:27px;
    padding:0;
    padding-left:31px;
    border:0;

}
.button span {
    background:url(../img/button_right.png) no-repeat right 0;
    display:block;
    height:27px;

}
.button span span {
    background:url(../img/button_center.png) repeat-x 0 0;
    display:block;
    height:24px;
    margin-right:9px;
    padding-top:3px;
    color:#fff;
    font-weight:bold;
    font-size:14px;
    font-family:Arial,sans-serif;
    text-shadow:0 1px 4px #333;
    line-height:18px;

}
.button.hover,.button.hover span span{
    background-position:0 -27px
}
.button.hover span {
    background-position:right -27px
}

.text, .text-2 {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 38%;
}

.text-2 {
    display: none;
}
.train{
    width: 100%;
    position: absolute;
    top: 0%;
    display: none;
}

.text-after{
    width: 100%;
    position: absolute;
    display: none;
    top: 45%
}

.text-after a{
    text-decoration: none;
    color: black;
}

#logo-db {
    width: 100%;
    text-align: center;
    bottom: 2px;
    position: absolute;
}

#logo-db img {
    width: 20%;
}

#btn-buchen {
    text-align: center;
    margin-top: 5%;
}

/* Buttons */

#btn1 {
    top: 2%;
    left: -2%;
    width: 20%;
    z-index: 2;
    -webkit-animation-name: spaceboots-3;
    -webkit-animation-duration: 1.2s;
}

#btn1-p {
    top: 2%;
    left: -2%;
    width: 20%;
    z-index: 2;
    display: none;
}

#btn2 {
    top: -2%;
    left: 15%;
    width: 20%;
    z-index: 0;
}

#btn2-p {
    top: -2%;
    left: 15%;
    width: 20%;
    z-index: 0;
    display: none;
}

#btn3 {
    top: 3%;
    left: 31%;
    width: 20%;
    z-index: 120;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 1.1s;
}

#btn3-p {
    top: 3%;
    left: 31%;
    width: 20%;
    z-index: 120;
    display: none;
}

#btn4 {
    top: -1%;
    left: 50%;
    width: 20%;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 0.9s;
}

#btn4-p {
    top: -1%;
    left: 50%;
    width: 20%;
    display: none;
}

#btn5 {
    top: 0%;
    left: 68%;
    width: 20%;
    z-index: 100;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 1s;
}

#btn5-p {
    top: 0%;
    left: 68%;
    width: 20%;
    display: none;
}

#btn6 {
    top: 12%;
    left: 5%;
    width: 20%;
    z-index: 8;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
}

#btn6-p {
    top: 12%;
    left: 5%;
    width: 20%;
    z-index: 8;
    display: none;
}

/* 29 Button */

#btn7 {
    top: 10%;
    left: 43%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-5;
    -webkit-animation-duration: 0.8s;
}

#btn7-p {
    top: 5%;
    left: 35%;
    width: 35%;
    z-index: 150;
    display: none;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 1s;
}

#btn8 {
    top: 58%;
    left: 42%;
    width: 20%;
    z-index: 90;
    -webkit-animation-name: spaceboots-3;
    -webkit-animation-duration: 0.9s;
}

#btn8-p {
    top: 58%;
    left: 42%;
    width: 20%;
    z-index: 90;
    display: none;
}

#btn9 {
    top: 12%;
    left: 60%;
    width: 20%;
    z-index: 120;
    -webkit-animation-name: spaceboots-4;
    -webkit-animation-duration: 0.9s;
}

#btn9-p {
    top: 12%;
    left: 60%;
    width: 20%;
    z-index: 120;
    display: none;
}

#btn10 {
    top: 15%;
    left: 78%;
    width: 20%;
    z-index: 80;
}

#btn10-p {
    top: 15%;
    left: 78%;
    width: 20%;
    z-index: 80;
    display: none;
}

/* 29 Button */

#btn11 {
    top: 35%;
    left: -1%;
    width: 20%;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
}

#btn11-p {
    top: 45%;
    left: 2%;
    width: 35%;
    display: none;
    z-index: 150;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 0.9s;
}

#btn12 {
    top: 24%;
    left: 12%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-5;
    -webkit-animation-duration: 0.7s;
}

#btn12-p {
    top: 24%;
    left: 12%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn13 {
    top: 23%;
    left: 30%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 1.2s;
}

#btn13-p {
    top: 23%;
    left: 30%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn14 {
    top: 12%;
    left: 20%;
    width: 20%;
    z-index: 120;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 0.7s;
}

#btn14-p {
    top: 12%;
    left: 20%;
    width: 20%;
    z-index: 120;
    display: none;
}

#btn15 {
    top: 23%;
    left: 52%;
    width: 20%;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 2s;
}

#btn15-p {
    top: 23%;
    left: 52%;
    width: 20%;
    display: none;
}

#btn16 {
    top: 25%;
    left: 72%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 0.9s;
}

#btn16-p {
    top: 25%;
    left: 72%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn17 {
    top: 45%;
    left: 73%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 1s;
}

#btn17-p {
    top: 45%;
    left: 73%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn18 {
    top: 47%;
    left: 20%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-4;
    -webkit-animation-duration: 0.8s;
}

#btn18-p {
    top: 55%;
    left: 20%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn19 {
    top: 67%;
    left:32%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-5;
    -webkit-animation-duration: 0.7s;
}

#btn19-p {
    top: 67%;
    left:32%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn20 {
    top: 63%;
    left: 58%;
    width: 20%;
    z-index: 80;
    -webkit-animation-name: spaceboots-3;
    -webkit-animation-duration: 1s;
}

#btn20-p {
    top: 63%;
    left: 58%;
    width: 20%;
    z-index: 80;
    display: none;
}

#btn21 {
    top: 58%;
    left: 80%;
    width: 20%;
    z-index: 10;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 2s;
}

#btn21-p {
    top: 58%;
    left: 80%;
    width: 20%;
    z-index: 10;
    display: none;
}

/* 29 Button */

#btn22 {
    top: 50%;
    left: 55%;
    width: 20%;
    z-index: 5;
    -webkit-animation-name: spaceboot;
    -webkit-animation-duration: 0.7s;
}

#btn22-p {
    top: 50%;
    left: 55%;
    width: 35%;
    z-index: 150;
    display: none;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 0.7s;
}

#btn23 {
    top: 50%;
    left: 35%;
    width: 20%;
    z-index: 10;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 2s;
}
#btn23-p {
    top: 50%;
    left: 35%;
    width: 20%;
    z-index: 10;
    display: none;
}

#btn24 {
    top: 60%;
    left: 15%;
    width: 20%;
    z-index: 10;
}

#btn24-p {
    top: 60%;
    left: 15%;
    width: 20%;
    z-index: 10;
    display: none;
}

#btn25 {
    top: 75%;
    left: 50%;
    width: 20%;
    z-index: 10;
}
#btn25-p {
    top: 75%;
    left: 50%;
    width: 20%;
    z-index: 10;
    display: none;
}

#btn26 {
    top: 52%;
    left: 1%;
    width: 20%;
}

#btn26-p {
    top: 52%;
    left: 1%;
    width: 20%;
    display: none;
}

#btn27 {
    top: 80%;
    left: 20%;
    width: 20%;
    -webkit-animation-name: spaceboots-3;
    -webkit-animation-duration: 1.5s;
}

#btn27-p {
    top: 80%;
    left: 20%;
    width: 20%;
    display: none;
}

#btn28 {
    top: 78%;
    left: 70%;
    width: 20%;
    -webkit-animation-name: spaceboots-2;
    -webkit-animation-duration: 2s;
}

#btn28-p {
    top: 78%;
    left: 70%;
    width: 20%;
    display: none;
}

#btn29 {
    top: 70%;
    left: 1%;
    width: 20%;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 1.7s;

}

#btn29-p {
    top: 70%;
    left: 1%;
    width: 20%;
    display: none;
    position: absolute;
}

#btn30-p {
    top: 15%;
    left: 68%;
    width: 32%;
    position: absolute;
    z-index: 120;
    display: none;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 1.7s;
}
